
# =============== #
# Fmod cache #
# =============== #
Assets/Plugins/FMOD/Cache/*
Assets/StreamingAssets/**/*.bank
Assets/StreamingAssets/**/*.bank.meta
Assets/son+fmod/utiliser/fmod/metadata/*
Assets/son+fmod/utiliser/fmod/metadata/*.meta
# =============== #
# Unity generated #
# =============== #
Temp/
Library/
UserSettings/Layouts/
UserSettings/Layouts/*
UserSettings/Layouts/default-2021.dwlt

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

.idea/
.idea/*
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

Logs/*
*.log
*.csproj
.sln
netrunner/*.csproj
